body {
    background-color: rgb(28, 28, 28);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: red;
    color: whitesmoke;

}

.header h2 {
    font-size: 30px;
}

.nav a {
    color: whitesmoke;
    text-decoration: none;
    border-bottom: 1px solid 
}

.hero {
    height: 200px
    background- color
}

.products {

}

.shop {

}

.footer {
    
}
